# Allowlist 'test.js' in the '.build' folder
!.build
.build/*
!.build/test.js

# other folder and file
**/vendor/*.js
.history
.husky
.vscode
coverage
dist
node_modules

# config files
*.config.js

# type declaration files
*.d.js

# lint-staged / config files (important fix)
.lintstagedrc.js
.eslintrc.js
.eslintrc.cjs