@import 'next-cloudinary/dist/cld-video-player.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  *::selection {
    background-color: hsl(var(--muted-foreground));
    color: hsl(var(--background));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  /* Firefox */
  * {
    scrollbar-color: hsl(var(--secondary-foreground))
      hsl(var(--secondary));
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0.375rem;
  }

  *::-webkit-scrollbar-track {
    background-color: hsl(var(--secondary));
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--secondary-foreground));
    border-radius: 9999px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--secondary));
  }
}
